/wp-config.php
/wordpress/*
!/wordpress/wp-content
/wordpress/wp-content/*
/wordpress/wp-content/plugins
!/wordpress/wp-content/themes
/wordpress/wp-content/themes/*
/vendor/

!/wordpress/wp-content/themes/fccentrum/
!/wordpress/wp-content/themes/fccentrum/*
!/wordpress/wp-content/themes/fccentrum/**/*
.DS_Store
/wordpress/wp-content/themes/fccentrum/.DS_Store
